.DashBoard{
  padding:40px 20px 0 20px ;
  display: grid;
  grid-template-columns: repeat(4,1fr);
  grid-gap: 20px;
  margin-top: 40px;
}

@media screen and (max-width: 1366px) {
  .DashBoard{
    grid-template-columns: repeat(3,1fr);
  }
  @media screen and (max-width: 1100px){
    .DashBoard{
      grid-template-columns: repeat(2,1fr);
    }
  }
  @media screen and (max-width: 500px){
    .DashBoard{
      grid-template-columns: repeat(1,1fr);
    }
  }
}

