.ProductCard{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  transition: all 0.5s ease;
  cursor: pointer;
  &:hover{
    transform: translateY(-10px);
    box-shadow: -5px 11px 19px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: -5px 11px 19px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: -5px 11px 19px 0px rgba(0,0,0,0.75);
  }
}

.HeroImg{
  height: 200px;
  width: auto;
  border-radius: 10px;
}