.skeleton{
    margin-top: 20px;
    animation: placeholderSkeleton 1s infinite;
    background: -webkit-gradient(linear, left center, right center, from(#cacaca), color-stop(.2, #edeef1), color-stop(.4, #f6f7f8), to(#f6f7f8));
    background: -webkit-linear-gradient(left, #d8d9da 0%, #cccccc 20%, #c8c8c9 40%, #d8d8d8 100%);
    background-repeat: inherit;
    background-size: 800px 800px;
    position: relative;
    border-radius: 5px;
}

@keyframes placeholderSkeleton {
    0% {
        background-position: -468px 0;
    }
    100% {
        background-position: 468px 0;
    }
}
